{% load static %}
{% regroup cars by dealer_id as car_list %}


{% for car in car_list %}
    <p class="fs-1">{{ car.grouper }}</p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-auto g-3">
        <div class="col">
            <div class="card shadow-sm">
                {% for item in car.list %}
                    <div class="card" style="width: 18rem; background-color: #b8eaef;">
                        {% if item.photos.first %}
                            <img class="card-img-top" src="{% static "media/" %}{{ item.photos.first.url }}"
                                 alt="{{ item.photos.first.metadata }}" style="max-height: 150px;">
                        {% else %}
                            <img class="card-img-top" src="{% static "media/car_default.jpg" %} "
                                 alt="default car image" style="max-height: 150px;">
                        {% endif %}

                        <div class="card-body">
                            <h5 class="card-title">{{ item.model_id.name }}</h5>
                            <p class="card-text">
                            <dl class="row">
                                <dt class="col">Color</dt>
                                <dd class="col">{{ item.color_id.name }}</dd>
                            </dl>
                            <dl class="row">
                                <dt class="col">Engine</dt>
                                <dd class="col">{{ item.engine_type }}</dd>
                            </dl>
                            <dl class="row">
                                <dt class="col">Gear case</dt>
                                <dd class="col">{{ item.gear_case }}</dd>
                            </dl>
                            <p class="fs-4 fw-bold">${{ item.price }}</p>
                            </p>
                            <a href="{{ item.id }}" class="btn btn-primary">More details</a>
                        </div>
                    </div>
                    </div>
                    </div>
                {% endfor %}
    </div>
    <div style="height: 30px;"></div>
{% endfor %}

